.trainer {
    text-align: center;
}

.form-control{
    align-items: center;
    width: 30%;
    margin: auto;
}

#pokemon {
    color: white;
}

.form-label{
    font-size: larger;
    font-weight: bolder;
}

.image-pokemon{
    display: flex;
    justify-content: center;
    padding: 50px;
}