<nav class="navbar navbar-dark bg-dark">
    <img src="https://cdn-icons-png.flaticon.com/512/1408/1408921.png" class="image" width="70" height="70">
    <h1 id="pokemon">Pokémon Trainer</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/1408/1408921.png" class="image" width="70" height="70">
</nav>

<section class="image-pokemon">
<img
    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eb6d7e02-84f3-4e3a-a5b5-7c1489afc0f2/d7clisu-c2b6b1eb-84f1-4c3b-9a3d-ce392366320e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ViNmQ3ZTAyLTg0ZjMtNGUzYS1hNWI1LTdjMTQ4OWFmYzBmMlwvZDdjbGlzdS1jMmI2YjFlYi04NGYxLTRjM2ItOWEzZC1jZTM5MjM2NjMyMGUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Evc0cm4AewnZMTHaeO-Ze5K3dOXL1drE3sIiXSO4ivM" width="350"
    height="400">
</section>

<div class="trainer">
    <!-- Submit function added for the form (button) with validation -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <label class="form-label" for=trainerName>Trainer Name: </label>

        <br>
        <input class="form-control" type="text" id="name"
            [ngClass]="{'is-valid': trainerName.valid, 'is-invalid': (trainerName.invalid && ( trainerName.dirty || trainerName.touched ) ) }"
            name="trainerName" minlength="3" placeholder="Example Ash" ngModel #trainerName="ngModel" required>

        <!-- Checking for errors in trainername -->
        <div *ngIf="trainerName.errors && trainerName.invalid && ( trainerName.dirty || trainerName.touched) ">
            <p class="invalid-feedback" *ngIf="trainerName.errors?.['required']">Trainer name is required!</p>
            <p class="invalid-feedback" *ngIf="trainerName.errors?.['minlength']">Trainer name too short</p>
        </div>

        <br>
        <br>

        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success">Lets Go Catch Some
            Pokémon!</button>
    </form>


</div>