<nav class="navbar navbar-dark bg-dark">
    <img src="https://cdn-icons-png.flaticon.com/512/1408/1408921.png" class="image" width="70" height="70">
    <button class="btn btn-success" routerLink="/trainer">Go To Trainer Page</button>
    <h1 class="text-trainer">Welcome Trainer {{trainerName}}</h1>
    <button class="btn btn-warning" (click)="logOut()">Logout</button>
    <img src="https://cdn-icons-png.flaticon.com/512/1408/1408921.png" class="image" width="70" height="70">

</nav>

<app-catalogue-pokemon-list></app-catalogue-pokemon-list>